<h2>Create New Landmark</h2>

<form action="/landmarks" method="post">
  <p>Name: <input type="text" name="landmark[name]" id="landmark_name"></p>
  <p>Titles:<p>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"><%= title.name %><br>
  <% end %>
  <p>Create New Title:</p>
  <input type="text" name="title[name]" id="new_title">
  <p>Landmarks:<p>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"><%= landmark.name %><br>
  <% end %>
  <p>Create New Landmark:</p>
  Name: <input type="text" name="landmark[name]" id="new_landmark">
  Year: <input type="text" name="landmark[year_completed]">
  <br>
  <input type="submit" id="Create New Figure">
</form>

<a class="button" href="/figures">Landmarks</a>
<a class="button" href="/">Home</a>
